<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithm</title>
</head>
<body>
<h1>What is Algorithm?</h1>
<p>Algorithm is unambiguous finite step by step procedure which is given input to produce output.
    Algorithms are essential to the way computers process data.</p>
   <p> Many computer programs contain algorithms that detail the specific instructions
    a computer should perform—in a specific order—to carry out a specified task,
    such as calculating employees' paychecks or printing students' report cards.</p>

   <p>One of the simplest algorithms is to find the largest number in a list of numbers of random order.
    Finding the solution requires looking at every number in the list.
    <p>From this follows a simple algorithm, which can be stated in
    a high-level description in English prose, as:
    High-level description:</p>
<div> <ul><ol>
    If there are no numbers in the set then there is no highest number.
    Assume the first number in the set is the largest number in the set.
    For each remaining number in the set: if this number is larger than the current largest number,
    consider this number to be the largest number in the set.
    When there are no numbers left in the set to iterate over,
    consider the current largest number to be the largest number of the set.
</ol></ul></div>
</body>
</html>