<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>designingprogram</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div th:replace="base :: navbar"></div>
<h1>Designing a program</h1>
<p>"The hardest single part of building a software system is deciding precisely what to build." —Fred Brooks</p>
<p>When writing a program you need to begin with a solid understanding of the problem you intend to solve.</p>
<p>Then, move on to understanding the data you will be using in your solution.
        Your program will use data in variables, constants and literals.
        Your program will also contain data structures, files and data validation.</p>

   <div>
   <h3> Overview: Developing software solutions</h3>
    <h4>Requirements and design phase:</h4>
       <ol>
       <li> Define the problem to be solved.</li>
       <li>Outline your solution on paper.</li>
       <li>Develop the outline into an algorithm.</li>
       <li>Test the algorithm for correctness.</li>
       <li> Document your solution.</li></ol>
    <h4>Implementation and verification phase:</h4>
       <ol>
       <li>Code the algorithm into a specific programming language.</li>
       <li>Run the program on the computer.</li>
       <li>Test your program, make corrections.</li>
       <li>Repeat.</li>
       </ol>
   <h4> Maintenance phase:</h4>
    <li>Document and maintain the program.</li>
   <h4> Three different approaches to program design:</h4>
    <li>Procedural-driven</li>
    Example: C, Fortran, Basic
    object-oriented / event-driven
    Example: Java, C#
    <li>data-driven program design (called symbolic programming)</li>
    Example: LISPV</ol></ul></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
<p>12/12/2019</p>
</body>
</html>