<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub</title>
</head>
<body>
<h1>What is GitHub?</h1>
<p>GitHub is a web based version-control and collaboration platform for software developers.
    GitHub, which is delivered through a software as a service (SaaS) business model
    was started in 2008</p>
<p>A user must create an account in order to contribute content to the site,
    but public repositories can be browsed and downloaded by anyone. With a registered user account,
    users are able to have discussions, manage repositories, submit contributions to others' repositories,
    and review changes to code.</p>
    <P> GitHub began offering unlimited private repositories at no cost in January 2019 (limited to three contributors per project).
    Previously, only public repositories were free.</p>
</body>
</html>