
<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GitHub</title>

    <style>
        h1{
            text-align: center;
        }

        body {
            background-image:url("http://www.bruna.cat/imgdownload/full/130/1304132/sky-blue-background-wallpaper.jpg" ) ;

        }
    </style>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: lightgreen;
            color: white;
            text-align: center;
        }
    </style>




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>


<h1>What is GitHub?</h1>
<div th:replace="base :: navbar"></div>
<br/>
<br/>


<p>GitHub is a web based version-control and collaboration platform for software developers.

    GitHub, which is delivered through a software as a service (SaaS) business model
    was started in 2008</p>
<p>
    A user must create an account in order to contribute content to the site,
    but public repositories can be browsed and downloaded by anyone. With a registered user account,
    users are able to have discussions, manage repositories, submit contributions to others' repositories,
    and review changes to code.</p>
<P> GitHub began offering unlimited private repositories at no cost in January 2019 (limited to three contributors per project).
    Previously, only public repositories were free.

</p>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<s><button onclick="typeWriter()">Copyright</button></s>

<p id="demo"></p>

<script>
    var i = 0;
    var txt = 'the web is designed by Shahla, Shiferaw and Hayle in Dec,2019.';

    var speed = 50;

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("demo").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }

</script>
<br/>

</body>
</html>