<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<style>
    body {
        background-image:url("http://www.bruna.cat/imgdownload/full/130/1304132/sky-blue-background-wallpaper.jpg" ) ;

    }
    h1 {
        text-align: center;
    }

</style>


<body>

<h1>What is HTML?</h1>
<div th:replace="base :: navbar"></div>

<br/>
<br/>

<p>The main parts of our element are:</p>
<div><Ul>
    <ol>The opening tag: This consists of the name of the element (in this case, p), wrapped in opening and closing angle brackets.</ol>
    <br>
        <ol>This states where the element begins or starts to take effect —in this case where the start of the paragraph is.</ol>
    <br>
    <ol>The closing tag: This is the same as the opening tag,
        except that it includes a forward slash before the element name.</ol>
    <br>
       <ol> This states where the element ends — in this case where the end of the paragraph is. </ol>
    <br>
    <ol>Failing to include a closing tag is a common beginner error and can lead to strange results.</ol>
    <br>
    <ol>The content: This is the content of the element, which in this case is just text.</ol>
    <br>
    <ol>The element: The opening tag plus the closing tag plus the content equals the element.</ol>
    </Ul></div>
</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

<s><button onclick="typeWriter()">Copyright</button></s>

<p id="demo"></p>

<script>
    var i = 0;
    var txt = 'the web is designed by Shahla, Shiferaw and Hayle in Dec,2019.';

    var speed = 50;

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("demo").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }

</script>
<br/>

</body>
</html>