<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Boot Camp page</title>

</head>

<!--<body background="https://p0.piqsels.com/preview/368/406/379/vintage-interior-furniture-commode.jpg">-->
<style>
    #block_container {
        text-align: center;
    }
    #block_container > div {
        display: inline-block;
        vertical-align: middle;
    }


    div {
        margin:auto;
        width: 100%;
        border: 1px solid green;
        padding: 10px;
        text-align: center;
        background-color: lightgray;
    }
    h1{
        color: black;
    }
    p{
        color: brown;
    }
    h6{
        font-size:30px;
    }
    p{
        color:blue;
    }
    a:hover{
        color:hotpink;
    }
    a:visited{
        color:green;
    }
</style>

</div>




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
</body>

<body>

<div class="jumbotron">
    <h1 class="display-4">Welcome to America's Promise program at MC!</h1>
    <p class="lead">America’s Promise Job-Driven Grant Program is a tuition-free jobs training
        program designed to strengthen the pipeline of skilled workers...</p>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Apply</a>
            </li>
        </ul>

    </nav>
    <hr class="my-4">
</div>


<br/>
<br/>
<br/>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">What is GitHub?</h5>
        <p class="card-text">GitHub is a web based version-control and collaboration platform for software developers.
            GitHub, which is delivered through a software as a service (SaaS) business model was started in 2008
            and was founded on Git...</p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">How to Push to GitHub?</h5>
        <p class="card-text">First, sign up for an account on GitHub, Create a new repository,...</p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">What is Algorithm? </h5>
        <p class="card-text">Algorithm is unambiguous finite step by step procedure which is given input to produce output </p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Program Design</h5>
        <p class="card-text">Software design is the process of envisioning and defining software solutions to one or more sets of problems.
            One of the main components of software design is the software requirements analysis (SRA)</p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">What is Core Java?</h5>
        <p class="card-text">"Core Java" is Sun's term, refers to Java SE, the standard edition and a set of related technologies, like the Java VM.
            This is mostly to differentiate from, say, Java ME or Java EE. Also note that they're talking about a set of libraries rather than the programming language.</p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Classes in Java</h5>
        <p class="card-text">A class is a user defined blueprint from which objects are created.
            It represents the set of methods that are common to all objects of one type.</p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">What is OOP?</h5>
        <p class="card-text">Object-oriented programming is a programming model based on the concept of "objects",
            which can contain data, in the form of fields, and code, in the form of procedures.</p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Inheritance in OOP</h5>
        <p class="card-text">Inheritance is the mechanism of object-oriented programming basing an object or class
            upon another object (prototype-based inheritance) or class (class-based inheritance),... </p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">HTML</h5>
        <p class="card-text">Hypertext Markup Language (HTML) is the standard markup language
            for documents designed to be displayed in a web browser. It can be assisted by
            technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript...</p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">CSS/Bootstrap</h5>
        <p class="card-text">Cascading Style Sheets is a style sheet language used for describing the presentation of a document.
            Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. </p>
        <a href="#" class="btn btn-primary">View more</a>
    </div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

</body>

</html>
<!--<body background="https://p0.piqsels.com/preview/368/406/379/vintage-interior-furniture-commode.jpg" width="542" height="500" style="">-->
