<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    h1{
        text-align: center;
    }


    body {
        background-image:url("http://www.bruna.cat/imgdownload/full/130/1304132/sky-blue-background-wallpaper.jpg" ) ;

    }




</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



<body>


<h1>What is inheritance</h1>


<div th:replace="base :: navbar"></div>

<br/>
<br/>
<p>In object-oriented programming, inheritance is the mechanism of basing an object or class upon another
object (prototype-based inheritance) or class (class-based inheritance), retaining similar implementation.
Also defined as deriving new classes (sub classes) from existing ones (super class or base class) and forming
them into a hierarchy of classes. In most class-based object-oriented languages, an object created through
inheritance (a "child object") acquires all the properties and behaviors of the parent object (except: constructors,
destructor, overloaded operators and friend functions of the base class). Inheritance allows programmers to create
classes that are built upon existing classes,[1] to specify a new implementation while maintaining the same behaviors
(realizing an interface), to reuse code and to independently extend original software via public classes and interfaces.
The relationships of objects or classes through inheritance give rise to a directed graph. Inheritance was invented in
1969 for Simula.[2]<p/>

<p>An inherited class is called a subclass of its parent class or super class. The term "inheritance" is loosely used for
both class-based and prototype-based programming, but in narrow use the term is reserved for class-based programming
(one class inherits from another), with the corresponding technique in prototype-based programming being instead called
delegation (one object delegates to another).<p/>

<p>Inheritance should not be confused with subtyping.[3][4] In some languages inheritance and subtyping agree,[a] whereas in
others they differ; in general, subtyping establishes an is-a relationship, whereas inheritance only reuses implementation
and establishes a syntactic relationship, not necessarily a semantic relationship (inheritance does not ensure behavioral
subtyping). To distinguish these concepts, subtyping is also known as interface inheritance, whereas inheritance as defined
here is known as implementation inheritance or code inheritance.[5] Still, inheritance is a commonly used mechanism for establishing
subtype relationships.[6]

<p/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

<s><button onclick="typeWriter()">Copyright</button></s>

<p id="demo"></p>

<script>
    var i = 0;
    var txt = 'the web is designed by Shahla, Shiferaw and Hayle in Dec,2019.';

    var speed = 50;

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("demo").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }

</script>

<br/>


</body>
</html>